.red {
  color: white !important;
  background-color: red !important;
}

.green {
  color: white !important;
  background-color: green !important;
}

.default {
  color: white !important;
  background-color: lightgray !important;
}
